---
//testing keys
// {"publicKey":"BC5koZoTOHO9_M818EO3AgJDSMM16GoecgTAKeBk4dAH0q8X2Kao8hh5o0ycK2_t3vu3cBWm-p2f6fUX_BIhb-E","privateKey":"s3R9JPNveMo6SMY5BQn23jJNlUwKeinGYE1EM2Rw2WQ"}
---

<script>
  import { newSubscription } from "web-push-notification/client";

  document.querySelector("#sub")?.addEventListener("click", async () => {
    const mySubscription = await newSubscription(
      "BC5koZoTOHO9_M818EO3AgJDSMM16GoecgTAKeBk4dAH0q8X2Kao8hh5o0ycK2_t3vu3cBWm-p2f6fUX_BIhb-E"
    );
    console.log(mySubscription);
    document.querySelector("#subDetails").innerHTML = mySubscription;
  });

  document.querySelector("#unreg")?.addEventListener("click", () => {
    navigator.serviceWorker.getRegistrations().then(function (registrations) {
      for (let registration of registrations) {
        registration.unregister();
      }
    });
  });
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Test environment</h1>
    <img id="hero-img" src="" />
    <button id="sub">Subscribe</button>

    <div id="subDetails"></div>

    <button id="unreg">Unregister</button>
  </body>
</html>
